<h1>Добавление нового обращения</h1>

<%= render "form", obrasheny: @obrasheny %>

<div class="buttons-container" style="margin-top: 10px;">
  <%= link_to "Назад к списку обращений", obrashenies_path, class: "button-style" %>
</div>

