<h1>Редактирование данных специалиста</h1>

<%= render "form", specialist: @specialist %>

<div class="buttons-container" style="margin-top: 10px;">
  <%= link_to "Показать данные специалиста", @specialist, class: "button-style", style: "margin-bottom: 5px;" %>
  <%= link_to "Назад к списку специалистов", specialists_path, class: "button-style" %>
</div>
