<h1>Добавление нового заказа</h1>

<%= render "form", new_zakaz: @new_zakaz %>

<div class="buttons-container" style="margin-top: 10px;">
  <%= link_to "Назад к списку заказов", new_zakazs_path, class: "button-style" %>
</div>
